            html,
            body {
                background-color: rgb(255, 241, 111);
                color: black;
                text-transform: uppercase;
                font-size: 1.5em;
            }

            .container {
                border: 2px solid black;
                height: 50vh;
                padding: 0.2em;
                display: grid;
                gap: 3px;

                grid-template:
                    repeat(2, 100px) / repeat(3, 100px);
                /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
                grid-auto-rows: 100px;
                grid-auto-flow: dense;
                /* grid-template-areas:
                    "m m m h h h h h h h h h"
                    "m m m c c c c c c c c c"
                    "f f f f f f f f f f f f"; */
            }

            .container div,
            .container1 div,
            .container2 div {
                padding: .6em;
                background: #42f5f5;
                text-align: center;
                border: solid 1px black;
            }

            /* .header {
                grid-area: h;
                grid-column: 4 / -1;
             }

            .menu {
                grid-area: m;
                grid-row: 1 / 3;
                grid-column: 1 / 4;
            }

            .content { 
                grid-area: c;
                grid-column: 4 / -1;
             }

            .footer {
                grid-area: f;
                grid-column: 1 / -1;
            }  */
            /* 
            .horizontal {
                grid-column: span 2;
            }

            .big {
                grid-row: span 2;
                grid-column: span 2;

            }

            .vertical {
                grid-row: span 2;
            } */

            .container1 {
                border: 2px solid black;
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-template-rows: 100px 100px;
            }

            .container2 {
                border: 2px solid black;
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                grid-template-rows: 100px 100px;
            }