.heading {
    color: darkblue;
    font-size: 1rem;
    text-align: center;

    /* transition-property: font-size;
    transition-delay: 1s;
    transition-duration: .5s;
    transition-timing-function: ease-in; */

    transition: all .5s ease;
}

.heading:hover {
    color: green;
    font-size: 2rem;
    /* letter-spacing: .4em; */
}